@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap&subset=cyrillic');
body {
  background-image: url(../img/dc-online-media-mockup.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 800px 20624px;
  font-family: 'PT Sans', Helvetica, sans-serif, serif, monospace;
  width: 800px;
  margin: 0 auto;
  font-size: 22px;
  margin-top: 68px;
}
h1 {
  margin-left: 50px;
  font-size: 42px;
  font-weight: 700;
  
}
h1 + p{
color: gray;
font-size: 24px;

}
